@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
  word-spacing: 0.1rem;
  --nextui-border-width-medium: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cover-image-height {
  height: calc(100vh-57px);
}
